{% load static %}

<div class="sidenav-footer mx-3 ">
    <div class="card card-plain shadow-none" id="sidenavCard">
        <img class="w-50 mx-auto" src="{% static 'argon/img/illustrations/icon-documentation.svg' %}" alt="sidebar_illustration">
        <div class="card-body text-center p-3 w-100 pt-0">
            <div class="docs-info">
                <h6 class="mb-0">¿Necesita ayuda?</h6>
                <p class="text-xs font-weight-bold mb-0">Compruebe la documentación</p>
            </div>
        </div>
    </div>
    <!-- target="_blank" -->
    <a href="#" class="btn btn-dark btn-sm w-100 mb-3">Documentación</a>
    <a href="#" class="btn btn-primary btn-sm mb-0 w-100">Política de Pivacidad</a>
</div>
