{% load static %}
    
<ul class="navbar-nav">
    {% comment "" %}
    <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">[ Menú ]</h6>
    </li>
    {% endcomment %}

    <li class="nav-item">
        <a class="nav-link" href="{% url 'home:dashboard' %}">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-address-card"></i>
            </div>
            <span class="nav-link-text ms-1">Tablero de control</span>
        </a>
    </li>

    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-address-card"></i>
                </div>
                <span class="nav-link-text ms-1">Perfil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </div>
                <span class="nav-link-text ms-1">Cerrar sesión</span>
            </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
                <span class="nav-link-text ms-1">Iniciar sesión</span>
            </a>
        </li>
    {% endif %}
    {% comment "" %}
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-user-plus"></i>
            </div>
            <span class="nav-link-text ms-1">Sign Up</span>
        </a>
    </li>
    {% endcomment %}
</ul>
