<div class="modal fade" 
     id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog" 
     aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Eliminar / Desactivar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            -->            
            <div class="modal-body confirm-delete">
                ¿Está seguro de eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteButtonModal">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>

</div>